.modal-header h1{
    text-align: center !important;
}

.field {
    margin-bottom: 15px;
  }
  
  .field label {
    display: block;
    font-size: 1rem;
    color: #000000;
  }
  
  .field input {
    display: flex;
    min-width: 280px;
    line-height: 1.5;
    font-size: 1.1rem;
    border: #bd0606 1px solid;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #bd0606;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    border: none
  }
  